@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,400,700");
/* line 6, ../compass/sass/views/_home.scss */
html {
  background-color: #ededed;
}

/* line 10, ../compass/sass/views/_home.scss */
.App {
  width: 100vw;
  height: 200%;
  display: flex;
  color: #323232;
  background-color: #ededed;
  font-family: "Work Sans", sans-serif;
  transition: all 1s;
}
/* line 11, ../compass/sass/views/_home.scss */
.App h1 {
  font-size: 45px;
  line-height: 1.2em;
  font-weight: 400;
}
/* line 16, ../compass/sass/views/_home.scss */
.App h2 {
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 400;
}
/* line 21, ../compass/sass/views/_home.scss */
.App h3 {
  font-size: 30px;
  line-height: 1.5em;
  font-weight: 400;
}
/* line 26, ../compass/sass/views/_home.scss */
.App h4 {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 400;
}
/* line 31, ../compass/sass/views/_home.scss */
.App p {
  font-size: 20px;
  color: #323232;
  line-height: 1.2em;
  font-weight: 200;
}
/* line 37, ../compass/sass/views/_home.scss */
.App a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* line 41, ../compass/sass/views/_home.scss */
.App a:hover, .App a:active {
  font-weight: 400;
}
/* line 56, ../compass/sass/views/_home.scss */
.App .MainMenu {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  padding: 10px;
  height: 100vh;
  background-color: #ddd;
  text-align: center;
  line-height: 1em;
  color: #1BA4BA;
}
/* line 72, ../compass/sass/views/_home.scss */
.App .MainMenu a {
  text-decoration: none;
  color: inherit;
}
/* line 75, ../compass/sass/views/_home.scss */
.App .MainMenu a:hover, .App .MainMenu a:active, .App .MainMenu a:visited {
  font-weight: 400;
}
/* line 79, ../compass/sass/views/_home.scss */
.App .MainMenu .nav {
  margin: auto;
  text-align: left;
  line-height: 1em;
  color: #323232;
}
/* line 82, ../compass/sass/views/_home.scss */
.App .MainMenu .nav ul {
  margin-left: -60px;
}
/* line 84, ../compass/sass/views/_home.scss */
.App .MainMenu .nav ul li, .App .MainMenu .nav ul a {
  padding-left: 0px;
  margin-left: 50px;
  list-style: none;
  font-size: 20px;
  font-weight: 400;
}
/* line 92, ../compass/sass/views/_home.scss */
.App .MainMenu .nav ul span {
  width: 300px;
  padding: 5px 8px;
  border-radius: 3px;
}
/* line 96, ../compass/sass/views/_home.scss */
.App .MainMenu .nav ul span:hover, .App .MainMenu .nav ul span:active {
  transition: all .8s;
  color: #ededed;
  background-color: #1BA4BA;
}
/* line 104, ../compass/sass/views/_home.scss */
.App .MainMenu .burger {
  position: absolute;
  top: 48%;
}
/* line 108, ../compass/sass/views/_home.scss */
.App .MainMenu .burger img {
  height: 25px;
  opacity: .6;
  transition: all .5s;
  transform: rotate(90deg);
}
/* line 116, ../compass/sass/views/_home.scss */
.App .MainRoutes {
  width: 100vw;
  height: 100vh;
  text-align: center;
  line-height: 1em;
  color: #1BA4BA;
  display: flex;
  flex-direction: column;
}
/* line 125, ../compass/sass/views/_home.scss */
.App .MainRoutes .centered {
  animation: scaleUp 1.5s ease-out;
  display: block;
  z-index: 50;
  padding: 30px;
  text-align: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 134, ../compass/sass/views/_home.scss */
.App .MainRoutes .centered .hero, .App .MainRoutes .centered .sub-title {
  height: 100%;
  margin: 10px auto;
}
/* line 139, ../compass/sass/views/_home.scss */
.App .MainRoutes .bio {
  flex-direction: column;
}
/* line 141, ../compass/sass/views/_home.scss */
.App .MainRoutes .bio img {
  height: 20%;
}
/* line 147, ../compass/sass/views/_home.scss */
.App .skills {
  animation: fadein 1.5s ease-out;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  margin: auto;
  align-self: center;
  text-align: center;
  align-items: flex-start;
}
/* line 157, ../compass/sass/views/_home.scss */
.App .skills .currentSkills, .App .skills .futureSkills {
  margin: 1px;
  background-color: #ddd;
  flex-wrap: wrap;
}
/* line 162, ../compass/sass/views/_home.scss */
.App .skills .skills-logo {
  width: 100%;
  max-height: 100px;
  max-width: 140px;
  margin: 2px;
  filter: grayscale(80%);
  transition: all .5s;
}
/* line 169, ../compass/sass/views/_home.scss */
.App .skills .skills-logo:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}
/* line 175, ../compass/sass/views/_home.scss */
.App .feature {
  animation: fadein 1.5s ease-out;
  height: 600px;
  align-self: center;
  text-align: center;
  align-items: center;
  background-color: #ddd;
  padding: 10px;
  overflow: hidden;
}
/* line 186, ../compass/sass/views/_home.scss */
.App .feature img {
  height: 80%;
  max-height: 500px;
  margin-bottom: 30px;
}
/* line 192, ../compass/sass/views/_home.scss */
.App .feature .overlay {
  box-sizing: border-box;
  position: relative;
  z-index: 50;
  overflow-y: scroll;
  -webkit-scrollbar: hidden;
  margin-top: -90px;
  padding: 30px 20%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  transition: all 1s;
  transform: translateY(0%);
}
/* line 204, ../compass/sass/views/_home.scss */
.App .feature .overlay:hover {
  transition: all 1s;
  transform: translateY(-91%);
}
/* line 208, ../compass/sass/views/_home.scss */
.App .feature .overlay .arrow {
  margin: -10px auto 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid #323232;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  transition: all 1s;
}
/* line 220, ../compass/sass/views/_home.scss */
.App .feature form {
  width: 80%;
  height: 100%;
  margin: 10px auto;
  font-size: 20px;
  overflow-y: scroll;
}
/* line 226, ../compass/sass/views/_home.scss */
.App .feature form .textbox {
  width: 100%;
  height: 40px;
  margin: 10px auto;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #1BA4BA;
}
/* line 237, ../compass/sass/views/_home.scss */
.App .feature form .textbox:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 242, ../compass/sass/views/_home.scss */
.App .feature form .textarea {
  width: 100%;
  height: 120px;
  margin: 10px auto;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #1BA4BA;
  resize: none;
}
/* line 254, ../compass/sass/views/_home.scss */
.App .feature form .textarea:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 259, ../compass/sass/views/_home.scss */
.App .feature form .input-btn, .App .feature form input[type=submit] {
  width: 40%;
  height: 40px;
  margin: 10px auto;
  font-size: 25px;
  font-family: "Work Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #1BA4BA;
  color: #323232;
  font-weight: 400;
}
/* line 269, ../compass/sass/views/_home.scss */
.App .feature form .input-btn:hover, .App .feature form .input-btn:active, .App .feature form input[type=submit]:hover, .App .feature form input[type=submit]:active {
  background-color: #1BA4BA;
}
/* line 272, ../compass/sass/views/_home.scss */
.App .feature form .input-btn:focus, .App .feature form input[type=submit]:focus {
  outline: none;
}
/* line 278, ../compass/sass/views/_home.scss */
.App .social-links {
  display: inline;
}
/* line 280, ../compass/sass/views/_home.scss */
.App .social-links a img {
  height: 50%;
  max-height: 60px;
  margin: 20px;
  filter: grayscale(80%);
  transition: all .5s;
}
/* line 286, ../compass/sass/views/_home.scss */
.App .social-links a img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}
/* line 292, ../compass/sass/views/_home.scss */
.App .slide-enter {
  margin-bottom: 100vh;
}
/* line 294, ../compass/sass/views/_home.scss */
.App .slide-enter .slide-enter-active {
  transition: slide-in 800ms ease-in;
}
/* line 298, ../compass/sass/views/_home.scss */
.App .slide-leave {
  margin-top: 0vh;
}
/* line 300, ../compass/sass/views/_home.scss */
.App .slide-leave .slide-leave-active {
  transition: slide-out 1200ms ease-in;
}
/* line 304, ../compass/sass/views/_home.scss */
.App .slide-appear {
  opacity: 0.01;
}
/* line 306, ../compass/sass/views/_home.scss */
.App .slide-appear .slide-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}
/* line 312, ../compass/sass/views/_home.scss */
.App .parallax-bg {
  position: absolute;
  z-index: 0;
  top: -100px;
  left: -110px;
  width: 110vw;
  height: 110%;
}
/* line 319, ../compass/sass/views/_home.scss */
.App .parallax-bg .l1 {
  z-index: 5;
}
/* line 322, ../compass/sass/views/_home.scss */
.App .parallax-bg .l2 {
  z-index: 4;
}
/* line 325, ../compass/sass/views/_home.scss */
.App .parallax-bg .l3 {
  z-index: 3;
}
/* line 328, ../compass/sass/views/_home.scss */
.App .parallax-bg .l4 {
  z-index: 2;
}
/* line 331, ../compass/sass/views/_home.scss */
.App .parallax-bg .l5 {
  z-index: 1;
}
/* line 334, ../compass/sass/views/_home.scss */
.App .parallax-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: inherit;
    transform: scale(1);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: inherit;
  }
}
@keyframes slide-in {
  from {
    margin-bottom: 100vh;
  }
  to {
    margin-bottom: 0vh;
  }
}
@keyframes slide-out {
  from {
    margin-top: 0vh;
  }
  to {
    margin-top: -100vh;
  }
}
@media only screen and (max-width: 499px) {
  /* line 375, ../compass/sass/views/_home.scss */
  .MainMenu {
    width: 170px;
    margin-left: -150px;
    transition: all 1s;
    transform: translate(0px);
  }
  /* line 378, ../compass/sass/views/_home.scss */
  .MainMenu:hover {
    transition: all 1s;
    transform: translate(150px);
  }
  /* line 382, ../compass/sass/views/_home.scss */
  .MainMenu .nav {
    width: 80%;
  }
  /* line 385, ../compass/sass/views/_home.scss */
  .MainMenu .nav ul li {
    line-height: 2em;
  }
  /* line 390, ../compass/sass/views/_home.scss */
  .MainMenu .burger {
    right: 4px;
  }

  /* line 395, ../compass/sass/views/_home.scss */
  .MainRoutes .centered {
    margin: auto;
    margin-left: 40px;
  }
  /* line 399, ../compass/sass/views/_home.scss */
  .MainRoutes .title {
    margin: 0px 10px 0 50px;
  }
  /* line 402, ../compass/sass/views/_home.scss */
  .MainRoutes .title.projects {
    font-size: 40px;
  }
  /* line 405, ../compass/sass/views/_home.scss */
  .MainRoutes .bio {
    padding: 0px 30px 10px 50px;
  }
  /* line 407, ../compass/sass/views/_home.scss */
  .MainRoutes .bio img {
    width: 90%;
  }
  /* line 411, ../compass/sass/views/_home.scss */
  .MainRoutes .skills {
    width: 90vw;
    height: auto;
    margin-left: 10vw;
    flex-wrap: wrap;
  }
  /* line 416, ../compass/sass/views/_home.scss */
  .MainRoutes .skills .currentSkills, .MainRoutes .skills .futureSkills {
    margin: 2px auto;
  }

  /* line 421, ../compass/sass/views/_home.scss */
  .feature {
    width: 90vw;
    margin: 0 0 0 10vw;
  }
  /* line 424, ../compass/sass/views/_home.scss */
  .feature img {
    width: 100%;
  }

  /* line 428, ../compass/sass/views/_home.scss */
  .feature.contact-form {
    overflow-y: scroll;
  }

  /* line 431, ../compass/sass/views/_home.scss */
  .feature.projects {
    padding: 0px;
  }
  /* line 433, ../compass/sass/views/_home.scss */
  .feature.projects h2 {
    margin-bottom: 0px;
  }

  /* line 437, ../compass/sass/views/_home.scss */
  .funnyHead img {
    animation: riseUpMobile 10s ease-out;
    position: fixed;
    z-index: 100;
    left: 0px;
    bottom: -2px;
    width: 100%;
    max-width: 120px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 999px) {
  /* line 452, ../compass/sass/views/_home.scss */
  .MainMenu {
    margin-left: -300px;
    width: 350px;
    max-width: 330px;
    transition: all 1s;
    transform: translate(0px);
  }
  /* line 456, ../compass/sass/views/_home.scss */
  .MainMenu:hover {
    transition: all 1s;
    transform: translate(300px);
  }
  /* line 460, ../compass/sass/views/_home.scss */
  .MainMenu .nav {
    width: 50%;
  }
  /* line 463, ../compass/sass/views/_home.scss */
  .MainMenu .nav ul li {
    line-height: 4em;
  }
  /* line 468, ../compass/sass/views/_home.scss */
  .MainMenu .burger {
    right: 10px;
  }

  /* line 473, ../compass/sass/views/_home.scss */
  .MainRoutes .centered {
    margin: auto;
  }
  /* line 476, ../compass/sass/views/_home.scss */
  .MainRoutes .title {
    margin: 20px auto;
  }
  /* line 479, ../compass/sass/views/_home.scss */
  .MainRoutes .bio {
    padding: 0px 60px 10px 80px;
  }
  /* line 481, ../compass/sass/views/_home.scss */
  .MainRoutes .bio img {
    width: 40%;
  }
  /* line 485, ../compass/sass/views/_home.scss */
  .MainRoutes .skills {
    width: 80%;
    height: 80%;
    margin: 0 10% 0 18%;
  }
  /* line 489, ../compass/sass/views/_home.scss */
  .MainRoutes .skills .currentSkills, .MainRoutes .skills .futureSkills {
    margin: 5px;
  }

  /* line 494, ../compass/sass/views/_home.scss */
  .feature {
    width: 70%;
    margin: auto;
  }

  /* line 498, ../compass/sass/views/_home.scss */
  .funnyHead img {
    animation: riseUpTablet 10s ease-out;
    position: fixed;
    z-index: 100;
    left: 0px;
    bottom: -22px;
    width: 100%;
    max-width: 300px;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 512, ../compass/sass/views/_home.scss */
  .MainMenu {
    margin-left: -300px;
    width: 300px;
    max-width: 300px;
    transition: all 1s;
    transform: translate(30px);
  }
  /* line 516, ../compass/sass/views/_home.scss */
  .MainMenu:hover {
    transition: all 1s;
    transform: translate(300px);
  }
  /* line 520, ../compass/sass/views/_home.scss */
  .MainMenu .nav {
    width: 50%;
  }
  /* line 523, ../compass/sass/views/_home.scss */
  .MainMenu .nav ul li {
    line-height: 4em;
  }
  /* line 528, ../compass/sass/views/_home.scss */
  .MainMenu .burger {
    right: 10px;
  }

  /* line 533, ../compass/sass/views/_home.scss */
  .MainRoutes .centered {
    margin: auto;
  }
  /* line 536, ../compass/sass/views/_home.scss */
  .MainRoutes .title {
    margin: 20px auto;
  }
  /* line 540, ../compass/sass/views/_home.scss */
  .MainRoutes .bio img {
    width: 20%;
  }
  /* line 544, ../compass/sass/views/_home.scss */
  .MainRoutes .skills {
    width: 80%;
    height: 80%;
    margin: auto;
  }
  /* line 548, ../compass/sass/views/_home.scss */
  .MainRoutes .skills .currentSkills, .MainRoutes .skills .futureSkills {
    margin: 5px;
  }

  /* line 553, ../compass/sass/views/_home.scss */
  .feature {
    width: 50%;
    height: 600px;
    margin: auto;
  }
  /* line 557, ../compass/sass/views/_home.scss */
  .feature img {
    margin-bottom: 40px;
  }

  /* line 561, ../compass/sass/views/_home.scss */
  .funnyHead img {
    animation: riseUpDesktop 10s ease-out;
    position: fixed;
    z-index: 100;
    left: 0px;
    bottom: -30px;
    width: 100%;
    max-width: 400px;
  }
}
@keyframes riseUpMobile {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: -2px;
  }
}
@keyframes riseUpTablet {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: -22px;
  }
}
@keyframes riseUpDesktop {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: -30px;
  }
}
